<mat-toolbar id="app-header" color="primary">
    <span routerLink="homepage" id="page-title" class="logo"><mat-icon>skip_next</mat-icon>soundwaves</span>
    <span class="spacer"></span>
    <button mat-button routerLink="playlists" routerLinkActive="active" aria-label="Go to playlists">Playlists</button>
    <button mat-button routerLink="account" routerLinkActive="active" aria-label="Go to account">Account</button>
    <button mat-button id="logout-button" *ngIf="user$ | async" (click)="logout()" aria-label="Logout">Log Out</button>
</mat-toolbar>