@import "src/styles";

.main-title {
    font-size: 50px;
    mat-icon {
        height: 40px;
        width: 40px;
        font-size: 40px;
    }
}

.subtitle {
    font-size: 20px;
    margin-left: 35px;
}

button {
    margin-left: 35px;
}